/*
    General Dashboard Styles
*/

#home {
    display: grid;
    grid-template-areas: 
    "headline"
    "selection"
    "budget"
    "expenses"
    "addButton"
    "statisticsButton"
    "statisticsSection";

    grid-gap: 25px;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.headline {
    line-height: 0;
    font-weight: 300;
    transition: 1s;
}

/*
    Burger Menu
*/

#hambugerMenuItem {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 5%;
    z-index: 10000;
}
  
.bars {
    width: 30px;
    height: 1px;
    background-color: black;
    margin: 7.5px;
    transition: 1s;
}
  
.change #bar1 {
    -webkit-transform: translateY(8.5px) rotate(135deg);
     transform: translateY(8.5px) rotate(135deg);
     background-color: black;
}
  
.change #bar2 {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
  
.change #bar3 {
     -webkit-transform: translateY(-8.5px) rotate(135deg);
     transform: translateY(-8.5px) rotate(135deg);
     background-color: black;
}

/*
    SpendingMonth Selection
*/

#selectionGui {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

#monthsWrapper {
    grid-area: selection;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.monthLink {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
}

/*
    Overview Section
*/

.clickIconWrapper {
    position: relative;
    grid-area: clickIcon;
}

.clickIcon {
    width: 30px;
    height: auto;
    filter: invert(0.1);

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#expensesWrapper {
    background-color:  white;
    text-align: left;
    box-shadow: 0px 5px 200px 1px rgba(0,0,0,0.25);
    border-radius: 10px;
    white-space: pre-line;

    grid-area: expenses;
    display: grid;
    grid-template-areas: 
    "expensesHeadline"
    "expensesMonitor";
}

#expensesWrapper:hover {
    box-shadow: 0px 5px 100px 1px rgba(0,0,0,0.1);
}

#expensesHeadline {
    position: relative;
    text-align: left;
    left: 20px;
    font-weight: 300;
    font-size: 20px;
    grid-area: expensesHeadline;

    line-height: 0;
    padding-top: 20px;
}

#expensesMonitor {
    position: relative;
    text-align: left;
    left: 20px;
    font-weight: 400;
    grid-area: expensesMonitor;

    line-height: 0;
    padding-bottom: 20px;
}

#budgetWrapper {
    background-color:  white;
    text-align: left;
    box-shadow: 0px 5px 200px 1px rgba(0,0,0,0.25);
    border-radius: 10px;
    white-space: pre-line;

    grid-area: budget;
    display: grid;
}

#budgetButton {
    display: grid;
    grid-template-areas: 
    "budgetHeadline clickIcon"
    "budgetMonitor clickIcon";    
    grid-template-columns: 80% 20%;
}

#budgetHeadline {
    position: relative;
    text-align: left;
    left: 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: 300;

    line-height: 0;
    padding-top: 20px;

    grid-area: budgetHeadline;
}

#budgetMonitor {
    position: relative;
    text-align: left;
    left: 20px;
    font-weight: 400;

    line-height: 0;
    padding-bottom: 20px;
    grid-area: budgetMonitor;
}

#addButtonWrapper {
    position: fixed;
    bottom: 20px;
    right: 5%;

    background-color: white;
    width: 75px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 5px 50px 1px rgba(0,0,0,0.25);
}

/*
    Statistics Section
*/

#statisticsSection {
    width: 100%;
    display: none;
    z-index: 100;
    grid-area: statisticsSection;
}

#statisticsWrapper {
    position: relative;
    display: grid;
    grid-template-areas: 
    "spendingsHeadline" 
    "statisticsTable"
    "categoriesHeadline"
    "categoryChart"
    "resetButton";

    grid-gap: 25px;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 75px;

    background-color: whitesmoke;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#statisticsButtonWrapper {
    text-align: center;
    grid-area: statisticsButton;
    width: 100%;
}

#statisticsButton {
    display: block;
    background-color: white;
    padding: 1em;
    box-shadow: 0px 5px 100px 1px rgba(0,0,0,0.1);
    border-radius: 3em;
    transition: 0.1s;
    transition-property: background-color, color;
}

.statisticsButtonText:active {
    background-color: rgb(219, 219, 219);
    padding: 1em;
}

.statisticsButtonText:hover {
    box-shadow: 0px 5px 100px 1px rgba(0,0,0,0.1);
}

#spendingHeadlineWrapper {
    position: relative;
    text-align: left;
    grid-area:  spendingsHeadline;
}

#categoryHeadlineWrapper {
    position: relative;
    text-align: left;
    grid-area: categoriesHeadline;
}

.statisticsTable {
    position: relative; 
    grid-area: statisticsTable;
    background-color:  white;    
    width: 100%;
    padding: 1em;
}

.spendingEntryIcon {
    width: 30px;
}

.statisticsTable th, .statisticsTable td {
    text-align: center;
    padding: 5px 10px;
}

.statisticsTable td:first-child, .statisticsTable th:first-child {
    text-align: left;
}

.statisticsTable td:last-child, .statisticsTable th:last-child {
    text-align: right;
}

#categoryChart {
    grid-area: categoryChart;

    height: 50vh;
    background-color:  white;
    margin-bottom: 1em;
    min-width: 70px;
}

/*
    Reset Button
*/

#resetButtonWrapper {
    text-align: center;
    width: 100%;
    grid-area: resetButton;
}

#resetButton {
    display: block;
    background-color: rgba(255, 111, 92, 0.418);    
    padding: 1em;
    transition: 0.5s;
    transition-property: background-color, color;

    box-shadow: 0px 5px 100px 1px rgba(0,0,0,0.1);
    border-radius: 3em;
}

#resetButton:active {
    background-color: rgba(255, 113, 94, 0.589);    
    padding: 1em;
}





