#dashboard {
    position: relative;
}

#home {
    position: fixed;
}

.center {
    position: relative;
    width: 100vw;
}

#budgetOverviewDiv {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    background-color:  white;
    width: 60vw;
    text-align: center;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.25);
}

#budgetOverviewDiv:hover {
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.25);
}

#spendingButtonDiv {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 100px;
    font-size: 30px;
    text-align: center;
    border-radius: 3em;
}

#statisticsButtonDiv {
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.statisticsButtonText {
    background-color: white;
    width: 40vw;
    padding: 1em;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.25);
    transition: 0.1s;
    transition-property: background-color, color;
}

.statisticsButtonText:active {
    background-color: rgb(219, 219, 219);
    padding: 1em;
}

.statisticsButtonText:hover {
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.25);
}

#statisticsSection {
    position: absolute;
    top: 100vh;
    width: 100%;
    display: none;
    z-index: 100;
}

#statistics {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 2em;    
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.5);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.spendingsTable {
    position: relative; 
    background-color:  white;
    padding: 1em;
    margin-bottom: 1em;
    min-width: 100px;
    flex-shrink: 1;
    flex-grow: 1;
}

.spendingEntryIcon {
    width: 30px;
}

.spendingEntry {
    text-align: left;
    padding: 2px;
}

.spendingsTableHeadline {
    text-align: left;
    padding: 10px;
}

.spendingEntryCenter {
    text-align: center;
    padding: 10px;
}

.categoryChart {
    height: 50vh;
    background-color:  white;
    padding: 1em;
    margin-bottom: 1em;
    float: left;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 70px;
    width: 0%;
}

.resetButtonDiv {
    text-align: center;
    padding: 1em;
    width: 100%;
}

.resetButtonText {
    background-color: rgba(255, 111, 92, 0.418);    
    padding: 1em;
    transition: 0.5s;
    transition-property: background-color, color;
}

.resetButtonText:active {
    background-color: rgba(255, 113, 94, 0.589);    
    padding: 1em;
}





