#inputGui {
    display: none;
    position: fixed;
    background-color: var(--background_color);
    overflow-y: scroll;
    height: 100vh;
    min-width: 100vw;
    text-align: center;
    z-index: 100;
}

#inputGui > #gridContainer {
    display: grid;
    margin: var(--dashboard_margin_horizontal);
    grid-template-columns: repeat(2, 50%);
}

/* Category Selector */

.categoryImage {
    width: var(--category_image_size);
    height: var(--category_image_size);
    margin-top: 1.5em;
}

.categoryDiv {
    transition: 500ms;
    transition-property: transform;
}

.spendingInputCategoryDiv {
    position: absolute;
    top: 10vh;
    left: 50%;
    width: 50vw;
    transform: translateX(-50%);
    background-color: var(--primary_element);
    border-radius: var(--border_radius);
    border: var(--border);
}

.spendingInputImage {
    width: 30vw;
    max-width: 100px;
    height: auto;
    margin-top: 5vh;
}

.inputText {
    padding: 1em;
}

.inputSubmitButtonText {
    background-color: white;
    border-radius: 1em;
    min-width: 50px;
    padding: 1em;
    margin: 0.5em;
    flex-shrink: 1;
    flex-grow: 1;
}

.spendingInputCancelButtonText {
    background-color: white;
    min-width: 50px;
    padding: 1em;
    margin: 0.5em;
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 1em;
}

.formDiv {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
}

.inputContainer {
    padding: 1.5em;
}

.inputGuiInput {
    padding: 2em;
    margin-bottom: var(--dashboard_margin_horizontal);
    margin-left: var(--dashboard_margin_horizontal);
    margin-right: var(--dashboard_margin_horizontal);
    background-color: var(--background_color);
}

.buttonSection {
    position: absolute;
    width: calc(100% - 2*var(--dashboard_margin_horizontal));
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-left: var(--dashboard_margin_horizontal);
    margin-right: var(--dashboard_margin_horizontal);
}

.fixed {
    top: 80vh;
}

.buttonSectionButton {
    background-color: var(--background_color);
    border-radius: var(--border_radius);    
    border: var(--border);
    padding: 1em;
    margin: 0.5em;
    flex-grow: 1;
}