@import url('https://fonts.googleapis.com/css?family=Bubbler+One');

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    top:0;
    left:0;
    font-family: 'Bubbler One', sans-serif;

    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    background-color: whitesmoke;
}



