@import url('https://fonts.googleapis.com/css?family=Bubbler+One');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    background-color: var(--background_color);
}

:root {
    --light: white;
    --dark: #191919;

    /* Color */
    --background_color: white;
    --primary_element: rgb(254, 254, 254);

    /* Border */
    --border_color: #e0e0e0;
    --border_radius: 10px;
    --border: 0.5px solid var(--border_color);
    --box_shadow_hover: 0px 0px 1px 1px rgba(0,0,0,0.1);

    /* Dashboard */
    --dashboard_margin_vertical: 50px;
    --dashboard_margin_horizontal: 20px;
    --icon_size: 30px;

    /* Headline */
    --headline_font_size: 20px;    
    --primary_headline_font_weight: 300;
    --secondary_headline_font_weight: 500;

    /* Statistics */
    --add_button_size: 65px;
    --statistics_button_padding: 15px;
    --statistics_margin_vertical: 50px;
    --statistics_margin_horizontal: 20px;
    --spending_entry_icon_size: 30px;

    /* Input Gui */
    --category_image_size: 30px;
    --category_image_margin_vertical: 20px;
}

.light {
    --bodyColor: var(--light);
    --fontColor: var(--dark);
    --buttonBox: var(--dark);
    --buttonText: var(--light);
    --borderColor: var(rgb(44, 44, 44));
    --sliderColor: rgb(100, 100, 100);
    --highlighted: rgb(245, 245, 245);
}

.dark {
    --bodyColor: var(--dark);
    --fontColor: var(--light);
    --buttonBox: var(--dark);
    --buttonText: var(--light);
    --borderColor: var(rgb(255, 255, 255));
    --sliderColor: white;
    --highlighted: rgb(29, 29, 29);
}





